{
    "extends": ["next", "next/core-web-vitals"],
    "plugins": ["prettier"],
    "rules": {
        "@next/next/no-img-element": "off"
        // "prettier/prettier": [
        //     "error",
        //     {
        //         "endOfLine": "crlf"
        //     }
        // ]
        //"quotes": ["error", "single"]
        //"semi": ["error", "aways"]
        // "react-hooks/exhaustive-deps": "off"
    }
}
